<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Auction
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<section id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <partial name="_UserMenu" />
            </div>
            <div class="col-lg-8">
                <div class="my-bids start">
                    <div class="activity">
                        <div class="title">
                            <h4>My Activity</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="item">
                                    <div class="image">
                                        <img src="~/uploads/bid01.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="timer" data-to="80" data-speed="5000"></div>
                                        <span>Active Bids</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item">
                                    <div class="image">
                                        <img src="~/uploads/bid02.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="timer" data-to="15" data-speed="5000"></div>
                                        <span>Items Won</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item">
                                    <div class="image">
                                        <img src="~/uploads/bid03.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="timer" data-to="115" data-speed="5000"></div>
                                        <span>Favorites</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav d-flex">
                            <li class="nav-item">
                                <a href="#upcoming" data-toggle="tab" class="upcoming nav-link active">Upcoming</a>
                            </li>
                            <li class="nav-item">
                                <a href="#past" data-toggle="tab" class="past nav-link">Past</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="upcoming">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/car01.png" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>2020 Hyundai Elantra, Sel</h5>
                                            <div class="bid d-flex justify-content-between">
                                                <div class="current-bid d-flex">
                                                    <i class="flaticon-hammer"></i>
                                                    <p class="d-flex flex-column">
                                                        Current Bid
                                                        <span>$876.00</span>
                                                    </p>
                                                </div>
                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Buy Now
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time d-flex ">
                                            <div class="countdown" data-countdown="10/31/2020 20:00"></div>
                                            <span>30 Bids</span>
                                        </div>
                                        <div class="button text-center">
                                            <a href="#">Submit A Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/car03.png" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>2019 Mercedes-Benz C, 300</h5>
                                            <div class="bid d-flex justify-content-between">
                                                <div class="current-bid d-flex">
                                                    <i class="flaticon-hammer"></i>
                                                    <p class="d-flex flex-column">
                                                        Current Bid
                                                        <span>$876.00</span>
                                                    </p>
                                                </div>
                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Buy Now
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time d-flex ">
                                            <div class="countdown" data-countdown="10/31/2020 20:00"></div>
                                            <span>30 Bids</span>
                                        </div>
                                        <div class="button text-center">
                                            <a href="#">Submit A Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/car04.png" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>2014 KIA Sorento, LX</h5>
                                            <div class="bid d-flex justify-content-between">
                                                <div class="current-bid d-flex">
                                                    <i class="flaticon-hammer"></i>
                                                    <p class="d-flex flex-column">
                                                        Current Bid
                                                        <span>$876.00</span>
                                                    </p>
                                                </div>
                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Buy Now
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time d-flex ">
                                            <div class="countdown" data-countdown="10/31/2020 20:00"></div>
                                            <span>30 Bids</span>
                                        </div>
                                        <div class="button text-center">
                                            <a href="#">Submit A Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/car05.png" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>2019 Subaru Crosstrek, Premium</h5>
                                            <div class="bid d-flex justify-content-between">
                                                <div class="current-bid d-flex">
                                                    <i class="flaticon-hammer"></i>
                                                    <p class="d-flex flex-column">
                                                        Current Bid
                                                        <span>$876.00</span>
                                                    </p>
                                                </div>
                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Buy Now
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time d-flex ">
                                            <div class="countdown" data-countdown="10/31/2020 20:00"></div>
                                            <span>30 Bids</span>
                                        </div>
                                        <div class="button text-center">
                                            <a href="#">Submit A Bid</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="past">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/jewelry-auction-1.jpg" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>Gold Ring With Clear Stones</h5>
                                            <div class="bid d-flex justify-content-between">

                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Sold
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/jewelry-auction-2.jpg" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>Ring With Clear Stone Accents</h5>
                                            <div class="bid d-flex justify-content-between">

                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Sold
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="auction-item">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/uploads/jewelry-auction-3.jpg" alt="">
                                            </a>
                                            <a href="#" class="star">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#" class="hammer">
                                                <i class="flaticon-hammer"></i>
                                            </a>
                                        </div>
                                        <div class="auction-content">
                                            <h5>Gold Ring With Clear Stones</h5>
                                            <div class="bid d-flex justify-content-between">

                                                <div class="buy-now-price d-flex">
                                                    <i class="flaticon-money"></i>
                                                    <p class="d-flex flex-column">
                                                        Sold
                                                        <span>$5000.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

