
<div class="header-top">
    <div class="container">
        <div class="content d-flex justify-content-between align-items-center">
            <ul class="d-flex">
                <li>
                    <a href="#" class="mr-3">
                        <i class="fas fa-phone-alt"></i>
                        <span>Customer Support</span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-globe"></i>
                    <select name="language" class="select-bar">
                        <option value="en">En</option>
                        <option value="az">Az</option>
                        <option value="ru">Ru</option>
                    </select>
                </li>
            </ul>
            <div class="my-account d-flex align-items-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul>
                        <li>@ViewBag.FullName</li>
                    </ul>
                    <button class="user-profile ml-3">
                            <img src="~/uploads/@ViewBag.Photo" alt="">
                    </button>
                    <ul class="list">
                        <li>
                            <a asp-controller="mybids" asp-action="index">
                                <i class="fas fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a asp-controller="personalprofile" asp-action="index">
                                <i class="fas fa-cogs"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a asp-controller="account" asp-action="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <a asp-controller="account" asp-action="login" class="login">Login</a>
                    <a asp-controller="account" asp-action="login" class="user-profile">
                        <img src="~/uploads/user-1.jpg" alt="">
                    </a>
                }
            </div>
        </div>
    </div>
</div>