<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Auction
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<!-- Contact Us Form -->
<section id="contact-form">
    <div class="container ">
        <div class="bg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header text-center">
                        <h4>Contact Us</h4>
                        <h1>Get In Touch</h1>
                        <p>We'd love to hear from you! Let us know how we can help.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form action="#">
                        <div class="form-group">
                            <label for="name">
                                <i class="far fa-user"></i>
                            </label>
                            <input id="name" class="form-control" type="text" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <i class="fas fa-envelope-open-text"></i>
                            </label>
                            <input id="email" class="form-control" type="text"
                                   placeholder="Enter Your Email ID">
                        </div>
                        <div class="form-group">
                            <label for="message">
                                <i class="fas fa-envelope-open-text"></i>
                            </label>
                            <textarea id="message" placeholder="Type Your Message"></textarea>
                        </div>
                        <div class="form-group justify-content-center mb-0">
                            <button type="submit">
                                SEND MESSAGE
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <img src="~/uploads/contact.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Form -->
