@model AboutViewModel

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
}
<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="about-us.html">
                    About Us
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(/uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<!-- About Header -->
<section id="about-header">
    <div class="container bg">
        <div class="row">
            <div class="col-lg-6">
                <h3>ABOUT US</h3>
                <h1><span>OVER 60</span><br> YEARS EXPERIENCE</h1>
                <p>Innovation have made us leaders in auctions platform</p>
                <div class="item-area d-flex">
                    <div class="item text-center">
                        <img src="~/uploads/about01.png" alt="">
                        <p>AWARD-WINNING TEAM</p>
                    </div>
                    <div class="item text-center ml-3">
                        <img src="~/uploads/about02.png" alt="">
                        <p>AFFILIATIONS</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="~/uploads/about.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Header -->
<!-- Business counter -->
<section id="business-counter" class="start">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="item">
                    <div class="title d-flex">
                        <div class="timer" data-to="62" data-speed="5000"></div>
                        <span>M</span>
                    </div>
                    <p>ITEMS AUCTIONED</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="title d-flex">
                        <span>$</span>
                        <div class="timer" data-to="887" data-speed="5000"></div>
                        <span>M</span>
                    </div>
                    <p>IN SECURE BIDS</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="title d-flex">
                        <div class="timer" data-to="63" data-speed="5000"></div>
                        <span>M</span>
                    </div>
                    <p>ITEMS AUCTIONED</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="title d-flex">
                        <div class="timer" data-to="5" data-speed="5000"></div>
                        <span>K</span>
                    </div>
                    <p>AUCTION EXPERTS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Business counter -->
<!-- Expect -->
<section id="expect">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="header">
                        <h1>What Can You Expect?</h1>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio
                            reiciendis obcaecati quod nisi quae
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect01.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect02.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect03.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect04.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect05.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <img src="~/uploads/expect06.png" alt="">
                                <h5>Real-Time Auction</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="bg">
                    <img src="~/uploads/overview-bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Expect -->
<partial name="_RegisterForFree" />
<!-- Team -->
<section id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header text-center">
                    <h1>Meet The Management Team</h1>
                    <p>Our team consists of passionate and talented individuals invested in your success.</p>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="row">
                @foreach (var item in Model.Teams)
                {
                    <div class="col-lg-3">
                        <div class="item">
                            <div class="image">
                                <img src="~/uploads/@item.Photo" alt="">
                            </div>
                            <div class="content">
                                <h5>
                                    <a href="#">
                                        @item.Fullname
                                    </a>
                                </h5>
                                <ul>
                                    <li>
                                        <a href="@item.Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="@item.Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="@item.Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
<partial name="_CustomerComments" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
}