@model AppUser
<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Auction
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(/uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<section id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <vc:user-menu-component></vc:user-menu-component>
            </div>
            <div class="col-lg-8">
                <div class="details">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3 class="mb-3">
                                Personal Details
                            </h3>
                            <form method="post" enctype="multipart/form-data">
                                <input asp-for="Photo" type="hidden" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FullName">Fullname</label>
                                    <input asp-for="FullName" class="form-control">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserName">Username</label>
                                    <input asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="custom-file mt-3 mb-4">
                                    <input asp-for="Upload" class="custom-file-input">
                                    <label asp-for="Upload" class="custom-file-label">Choose file</label>
                                    <span asp-validation-for="Upload" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </div>
                        <div class="col-lg-4 ">
                            <img class="image-preview img-fluid mt-4" src="~/uploads/@Model.Photo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScripts" />

    <script>
        $(document).ready(function () {
            $("#Upload").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    $(".image-preview").attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
        });
    </script>
}