@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
}
<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="auction-details.html">
                    Auction Details
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(assets/img/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<section id="details" class="mb-5">
    <div class="container">
        <div class="details-slider">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-for" style="color: white;">
                        <div class="image">
                            <img src="assets/img/product1.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product2.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product3.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product4.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product5.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product6.png" alt="">
                        </div>
                        <div class="image">
                            <img src="assets/img/product3.png" alt="">
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div class="image-nav">
                            <img src="assets/img/product1.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product2.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product3.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product4.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product5.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product6.png" alt="">
                        </div>
                        <div class="image-nav">
                            <img src="assets/img/product3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-bid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header">
                        <h1>2018 Hyundai Sonata</h1>
                        <ul class="listing-id d-flex">
                            <li class="listing">Listing ID: 14076242</li>
                            <li>Item #: 7300-3356862</li>
                        </ul>
                        <ul class="current-price">
                            <li class="header">
                                <h4>Current Price</h4>
                                <h2>US $700.00</h2>
                            </li>
                            <li>
                                <span>Buyer's Premium</span>
                                <h4>10.00%</h4>
                            </li>
                            <li>
                                <span>Bid Increment (US)</span>
                                <h4>$50.00</h4>
                            </li>
                        </ul>
                        <div class="auction-bid">
                            <form action="#">
                                <div class="image">
                                    <img src="assets/img/search-icon.png" class="img-fluid" alt="">
                                </div>
                                <input type="number" placeholder="Enter you bid amount">
                                <button type="submit">Submit A Bid</button>
                            </form>
                        </div>
                        <div class="buy-now">
                            <a href="#" class="buy">BUY NOW: $5,000</a>
                            <a href="#" class="favory">
                                <i class="fas fa-star"></i>
                                Add To Wishlist
                            </a>
                            <div class="social d-flex">
                                <span>Share to:</span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="title text-center">
                            <h6>This Auction Ends in:</h6>
                            <div class="time">
                                <div class="countdown" data-countdown="11/06/2020 20:00"></div>
                            </div>
                        </div>
                        <div class="items-area start">
                            <div class="item d-flex">
                                <div class="image">
                                    <img src="assets/img/icon1.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="timer" data-to="61" data-speed="5000"></div>
                                    <span>Active Bids</span>
                                </div>
                            </div>
                            <div class="item d-flex">
                                <div class="image">
                                    <img src="assets/img/icon2.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="timer" data-to="203" data-speed="5000"></div>
                                    <span>Watching</span>
                                </div>
                            </div>
                            <div class="item d-flex">
                                <div class="image">
                                    <img src="assets/img/icon3.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="timer" data-to="83" data-speed="5000"></div>
                                    <span>Total Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details-content">
        <div class="container">
            <ul class="nav d-flex">
                <li class="nav-item">
                    <a href="#description" data-toggle="tab" class="description nav-link active">
                        <div class="image">
                            <img src="assets/img/tab1.png" alt="">
                        </div>
                        Description
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#delivery" data-toggle="tab" class="delivery nav-link">
                        <div class="image">
                            <img src="assets/img/tab2.png" alt="">
                        </div>
                        Delivery Options
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#history" data-toggle="tab" class="history nav-link">
                        <div class="image">
                            <img src="assets/img/tab3.png" alt="">
                        </div>
                        Bid History (36)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#questions" data-toggle="tab" class="questions nav-link">
                        <div class="image">
                            <img src="assets/img/tab4.png" alt="">
                        </div>
                        Questions
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="description">
                <h2>2018 Hyundai Sonata</h2>
                <table class="table bg table-borderless">
                    <tbody>
                        <tr>
                            <th>Condition</th>
                            <td>New</td>
                            <th>Mileage</th>
                            <td>15,000 miles</td>
                        </tr>
                        <tr class="info">
                            <th>Year</th>
                            <td>09-2017</td>
                            <th>Engine</th>
                            <td>I-4 1,5 l</td>
                        </tr>
                        <tr>
                            <th>Fuel</th>
                            <td>Regular</td>
                            <th>Transmission</th>
                            <td>Automatic</td>
                        </tr>
                        <tr class="info">
                            <th>Color</th>
                            <td>Blue</td>
                            <th>Doors</th>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
                <div class="item">
                    <h4>Condition</h4>
                    <p>
                        This ASSET is being listed on behalf of a law enforcement agency or other partner
                        ("SELLER") by PropertyRoom.com on a Sold AS IS, WHERE IS, WITH ALL FAULTS basis, with no
                        representation or warranty from PropertyRoom.com or SELLER. In many cases, the car,
                        boat, truck, motorcycle, aircraft, mowers/tractors, etc. ("ASSET") sold on
                        PropertyRoom.com comes from seizure or forfeiture, and the SELLER typically does not
                        possess use-based knowledge of the ASSET. Further, PropertyRoom.com does not physically
                        inspect the ASSET and cannot attest to actual working conditions. PropertyRoom.com and
                        SELLER gather information about the ASSET from authoritative sources; still, errors may
                        appear from time to time in the listing. PropertyRoom.com cautions any website user,
                        shopper, bidder, etc. ("BUYER") to attempt to confirm, with us, information material to
                        a bidding/purchasing decision.
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="delivery">
                <h4>Shipping</h4>
                <table class="table bg table-borderless">
                    <tbody>
                        <tr>
                            <th>Available Delivery Methods</th>
                            <th>Price</th>
                        </tr>
                        <tr class="info">
                            <td>Customer Pick-up (within 10 days)</td>
                            <td>$0.00</td>
                        </tr>
                        <tr>
                            <td>Standard Shipping (5-7 business days)</td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr class="info">
                            <td>Expedited Shipping (2-4 business days)</td>
                            <td>Not Applicable</td>
                        </tr>
                    </tbody>
                </table>
                <div class="item">
                    <h4>Notes</h4>
                    <p>
                        Please carefully review our shipping and returns policy before committing to a bid. From
                        time to time, and at its sole discretion, Sbidu may change the prevailing fee structure
                        for shipping and handling.
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="history">
                <h4>Bid History</h4>
                <div class="history-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bidder</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Unit Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="image">
                                        <img src="assets/img/history01.png" alt="">
                                    </div>
                                    <h6>Moses Watts</h6>
                                </td>
                                <td>06/16/2020</td>
                                <td>02:45:25 PM</td>
                                <td>$900.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <img src="assets/img/history02.png" alt="">
                                    </div>
                                    <h6>Pat Powell</h6>
                                </td>
                                <td>06/16/2020</td>
                                <td>02:45:25 PM</td>
                                <td>$900.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <img src="assets/img/history03.png" alt="">
                                    </div>
                                    <h6>Jack Rodgers</h6>
                                </td>
                                <td>06/16/2020</td>
                                <td>02:45:25 PM</td>
                                <td>$900.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <img src="assets/img/history04.png" alt="">
                                    </div>
                                    <h6>Arlene Paul</h6>
                                </td>
                                <td>06/16/2020</td>
                                <td>02:45:25 PM</td>
                                <td>$900.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <img src="assets/img/history05.png" alt="">
                                    </div>
                                    <h6>Marcia Clarke</h6>
                                </td>
                                <td>06/16/2020</td>
                                <td>02:45:25 PM</td>
                                <td>$900.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mb-3 mt-4">
                        <a href="#">Load More</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="questions">
                <h4>Frequently Asked Questions</h4>
                <div class="faq">
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/img/faq.png" alt="">
                            <span class="title">How to start bidding?</span>
                            <span class="icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>All successful bidders can confirm their winning bid by checking the “Sbidu”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/img/faq.png" alt="">
                            <span class="title">Security Deposit / Bidding Power</span>
                            <span class="icon"></span>
                        </div>
                        <div class="faq-content ">
                            <p>All successful bidders can confirm their winning bid by checking the “Sbidu”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/img/faq.png" alt="">
                            <span class="title">Delivery time to the destination port</span>
                            <span class="icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>All successful bidders can confirm their winning bid by checking the “Sbidu”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
}