@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center"><h2>List of roles</h2></div>
<div class="row mx-3">
        <table class="table table-striped mt-5">
            @foreach (var role in Model)
            {
                <tr class="d-flex justify-content-between align-items-center">
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger mr-1">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>

        <div class="ml-1">
            <a class="btn btn-outline-success" asp-action="Create">Create role</a>
        </div>
</div>


