@model Setting
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h4>
                        Auction Categories
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Ending Now</a>
                        </li>
                        <li>
                            <a href="#">Vehicles</a>
                        </li>
                        <li>
                            <a href="#">Watches</a>
                        </li>
                        <li>
                            <a href="#">Electronics</a>
                        </li>
                        <li>
                            <a href="#">Real Estate </a>
                        </li>
                        <li>
                            <a href="#">Jewelry</a>
                        </li>
                        <li>
                            <a href="#">Art</a>
                        </li>
                        <li>
                            <a href="#">Sports & Outdoor</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h4>
                        About Us
                    </h4>
                    <ul>
                        <li>
                            <a href="#">About Sbidu</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Affiliates</a>
                        </li>
                        <li>
                            <a href="#">Jobs</a>
                        </li>
                        <li>
                            <a href="#">Press</a>
                        </li>
                        <li>
                            <a href="#">Our blog</a>
                        </li>
                        <li>
                            <a href="#">Collectors' portal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h4>
                        We're Here to Help
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Your Account</a>
                        </li>
                        <li>
                            <a href="#">Safe and Secure</a>
                        </li>
                        <li>
                            <a href="#">Shipping Information</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Help & FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h4>
                        Follow Us
                    </h4>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-phone-alt"></i>
                                @Model.Phone
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-blender-phone"></i>
                                @Model.FaxPhone
                            </a>
                        </li>
                        <li>
                            <a href="mailto:">
                                <i class="fas fa-envelope-open-text"></i>
                                @Model.Email
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-location-arrow"></i>
                                @Model.Address
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>